# Set our ADB device name

on early-init
    write /sys/modul/g_android/parameters/serial_number CM-Space

# Enable USB charging

on boot-pause
    exec system/bin/battery_charging

# Set the HOME environment variable

on init
    export HOME /

# Set USB interface depending on ADB status

on property:persist.service.adb.enable=1
    write /sys/module/g_android/parameters/product_id 9017

on property:persist.service.adb.enable=0
    write /sys/module/g_android/parameters/product_id 9018

